<header id="header">
	<div id="site_title">
		<a href="{{ "/" | absolute_url }}">
			<img src="/path/to/logo.png" alt="Logo" height="60">
			<h1>Crow</h1>
		</a>
		{% if site.data.settings.subtitle.active %}
			<h2>
				{{ site.data.settings.subtitle.text }}
			</h2>
		{% endif %}
	</div>

	<div id="subheader">
		<div class="subheader-links">
			{% if site.data.settings.nav.pages.active %}
			<nav class="pages">
				{%- include pages.html -%}
			</nav>
			{% endif %}
			{% if site.data.settings.nav.social.active %}
			<nav class="social">
				{% include social.html %}
			</nav>
			{% endif %}
		</div>
	</div>
</header>
