// Colors for social icons
$github: #24292e;
$twitter: #1DA1F2;
$linkedin: #0e76a8;
$rss: #f26522;
$mail: #5d5c5d;
$instagram: #e1306c;
$facebook: #3b5998;
$messenger: #0084ff;
$youtube: #ff0000;
$whatsapp: #25d366;
$reddit: #ff4500;


header {
    margin-left: auto; /* center horizontally */
    margin-right: auto; /* center horizontally */
    width: 550px;
    overflow: hidden;

    #site_title {
        text-align: center; /* center the text horizontally */
        color: black;

        a {
            text-decoration: none; /* remove underline from link */
        }

        h1 {
            margin-bottom: 0px; /* remove bottom margin from h1 element */
        }

        h2 {
            margin-top: 0px; /* remove top margin from h2 element */
            font-style: oblique; /* add italic style */
            font-size: 1.2rem; /* set font size to 1.2rem */
        }
    }

    #subheader {
        display: flex; /* make the subheader a flex container */
        justify-content: center; /* center horizontally */
        align-items: center; /* center vertically */
        height: 60px; /* set the height to 60px */
        margin-top: 27px; /* add margin to the top */

        .pages {
            display: block; /* display the pages as block elements */
            a:hover {
                color: black; /* change the color on hover */
            }
            a {
                text-decoration: none; /* remove underline from link */
                color: $base; /* set the color to $base */
                margin-right: 10px; /* add margin between pages */
                font-size: 1.05rem; /* set font size to 1.05rem */
            }
        }

        .social {
            display: block; /* display the social links as block elements */
            i {
                margin-right: 10px; /* add margin between social links */
                -o-transition: .5s; /* set transition for Opera */
                -ms-transition: .5s; /* set transition for Microsoft Edge */
                -moz-transition: .5s; /* set transition for Mozilla Firefox */
                -webkit-transition: .5s; /* set transition for Safari and Chrome */
                transition: .5s; /* set transition */
            }

            a {
                color: $base; /* set the color to $base */
            }

            i {
                font-size: 1.1rem; /* set font size to 1.1rem */
            }

            #github:hover {
                color: $github; /* change color on hover */
            }

            #twitter:hover {
                color: $twitter; /* change color on hover */
            }

            #linkedin:hover {
                color: $linkedin; /* change color on hover */
            }

            #rss:hover {
                color: $rss; /* change color on hover */
            }

            #envelope:hover {
                color: $mail; /* change color on hover */
            }

            #instagram:hover {
                color: $instagram; /* change color on hover */
            }

            #facebook:hover {
                color: $facebook; /* change color on hover */
            }

            #messenger:hover {
                color: $messenger; /* change color on hover */
            }

            #youtube:hover {
                color: $youtube; /* change color on hover */
            }

            #whatsapp:hover {
                color: $whatsapp; /* change color on hover */
            }

            #reddit:hover {
                color: $reddit; /* change color on hover */
            }
        }
    }
}
